name: Run tests

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  release:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install Dependencies
        run: npm install

      - name: Build workspace
        run: npm run build

      - name: TypeScript
        run: npm run ts

      - name: Lint
        run: npm run lint

      - name: Run tests
        run: npm run test
